In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.dummy import DummyRegressor
from sklearn.metrics import mean_squared_error
import matplotlib.pyplot as plt

In [2]:
#test
path = 'all_participants_result.xlsx'
df = pd.read_excel(path)
df

,ID,Essai,Temps Experience,Temps total Inactivite,Temps total Activite,Temps total de Manipulation,Nbr Total de Manipulation,Temps Total Consultation Instruction,Nb Total de Consultation,Nombre erreur,Proposition_Phase
0,ID10,1,96.099953,55.673687,40.426266,22.837461,23,17.58880,24,5,1
1,ID10,2,54.533314,31.585220,22.948090,22.248150,21,0.69994,2,1,2
2,ID10,3,41.166672,24.883051,16.283621,16.283621,15,0.00000,0,0,2
3,ID10,4,42.422218,22.697981,19.724239,19.724239,19,0.00000,0,0,3
4,ID10,5,33.722225,18.840277,14.881948,14.881948,17,0.00000,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...
384,ID9,3,53.544449,25.779648,27.764799,25.764799,14,2.00000,3,0,2
385,ID9,4,48.744450,23.301680,25.442772,24.987211,15,0.45556,1,0,2
386,ID9,5,43.344448,20.241940,23.102510,23.102510,14,0.00000,0,0,2
387,ID9,6,40.733341,21.255289,19.478050,19.478050,14,0.00000,0,0,3
388,ID9,7,35.577778,18.372696,17.205080,17.205080,12,0.00000,0,0,3